.main__image_div{
    background-image: url(/assets/img/imagen1.png);
    background-repeat : no-repeat;
    background-size: cover;
    height: 56vw;
    @media (min-width: $tablet) {
        background-position-y: -120px;
        height: 46vw;
    }
    @media (min-width: $desktop) {
        background-position-y: 0;
        background-size: auto;
        width: 60vw;
        height: 50vw;
        
    }
}
