//Variables

$fc-white: #fff;
$fc-isabelline: #ececec;
$fc-lighgray: #d1d1d1;
$fc-smokyblack: #0c0910;
$fc-granitegray: #646266;
$fc-quicksilver: #a6a5ab;

$tablet:769px;
$desktop:992px;



$fz-xxx-large: 50px;
$fz-xx-large: 30px;
$fz-x-large: 20px;
$fz-large: 18px;
$fz-madium: 16px;
$fz-small: 14px;
$fz-x-small: 12px;

$ff-oldStandard: "Old Standard TT";
$ff-raleway: "Raleway";
